/* General style */

body {
  font-size: 62.5%;
}

html {
  /* font-family: "Cinzel", serif;
  font-family: "Passion One", cursive; */
  --cinzel: "Cinzel", serif;
  --passion: "Passion One", cursive;
}

/* Body style */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  font-size: 1.6rem;
  background-image: url(../assets/img-1.jpg);
  background-size: 96rem 45rem;
  background-repeat: no-repeat;
  animation: slide 40s alternate infinite;
}

/* Container style */

.container {
  min-height: 33rem;
  min-width: 47rem;
  background-color: rgb(174, 234, 83);
  padding: 2rem;
  border-radius: 1.3rem;
  background-image: url(../assets/colombiaflag.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main exchange info section style */

header {
  font-size: 2.3rem;
  text-align: center;
}

section {
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--cinzel);
}

section span {
  font-size: 3rem;
}

/* Form style */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount {
  margin-bottom: 3rem;
  font-family: sans-serif;
  font-size: 1.3rem;
}

.amount input {
  text-align: center;
  margin-left: 0.4rem;
}

.total-info p {
  margin-top: 4rem;
  text-align: center;
  font-family: var(--cinzel);
}

.total-info span {
  font-size: 3rem;
}

/* 3D button styling */
button {
  margin-top: 1rem;
  position: relative;
  background: orangered;
  border: none;
  padding: 1.4rem 2.4rem;
  font-size: 1.4rem;
  box-shadow: -0.6rem 0.6rem 0 hsl(16, 100%, 30%);
  outline: none;
  cursor: pointer;
  font-family: var(--passion);
}

button:hover {
  background: hsl(16, 100%, 45%);
}

button:active {
  background: hsl(16, 100%, 40%);
  top: 0.3rem;
  left: -0.3rem;
  box-shadow: -0.3rem 0.3rem 0 hsl(16, 100%, 30%);
}

button::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;

  border: solid 0.6rem transparent;
  border-right: solid 0.6rem hsl(16, 100%, 30%);
  border-left-width: 0;
  top: 0;
  left: -0.6rem;
}
button::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;

  border: solid 0.6rem transparent;
  border-top: solid 0.6rem hsl(16, 100%, 30%);
  border-bottom-width: 0;
  bottom: -0.6rem;
  right: 0rem;
}

button:active::before {
  border: solid 0.3rem transparent;
  border-right: solid 0.3rem hsl(16, 100%, 30%);
  border-left-width: 0;
  left: -0.3rem;
}
button:active::after {
  border: solid 0.3rem transparent;
  border-top: solid 0.3rem hsl(16, 100%, 30%);
  border-bottom-width: 0;
  bottom: -0.3rem;
}

.bg-imgs img {
  position: absolute;
  z-index: -1;
  height: 100%;
  opacity: 0%;
  transition-delay: 5s;
  transition: opacity 5s;
}

/* Background image animation */
@keyframes slide {
  0% {
    background-image: url(../assets/img-2.jpg);
  }
  10% {
    background-image: url(../assets/img-3.jpg);
  }
  20% {
    background-image: url(../assets/img-4.jpg);
  }
  30% {
    background-image: url(../assets/img-5.jpg);
  }
  40% {
    background-image: url(../assets/img-6.jpg);
  }
  50% {
    background-image: url(../assets/img-7.jpg);
  }
  60% {
    background-image: url(../assets/img-8.jpg);
  }
  70% {
    background-image: url(../assets/img-9.jpg);
  }
  80% {
    background-image: url(../assets/img-10.jpg);
  }
  100% {
    background-image: url(../assets/img-10.jpg);
  }
}

/* Responsiveness */

@media only screen and (max-width: 600px) {
  /* Removal of background image / animation */
  body {
    animation: none !important;
    background-image: none !important;
  }

  /* adjustment to container element */
  .container {
    height: 71rem;
    width: 37rem;
    margin-top: 6rem;
  }

  header {
    font-size: 4.3rem;
  }

  section.main-exhange-info {
    font-size: 4rem;
  }

  section span {
    font-size: 5rem;
  }

  .amount {
    margin: 9rem 0 7rem 0;
    font-family: sans-serif;
    font-size: 2.6rem;
    color: white;
  }
  .amount input {
    margin-left: 1.4rem;
  }
  button {
    margin-left: 2rem;
    line-height: 4rem;
    font-size: 3rem;
    width: 39rem;
    color: #282525;
  }

  .total-info p {
    margin-top: 0.5rem;
    font-size: 3rem;
    text-align: center;
    font-family: var(--cinzel);
    color: white;
  }

  .total-info span {
    font-size: 4rem;
  }
}
